<div class="title-header-1">
	INSERT SLIDER
</div>

<div class="container">
	<div class="blockquote-box clearfix col-md-12" align="left" style="margin-top: -75px;">
		
<div class="col-md-6">
	test
</div>
<div class="col-md-6">
		<p>Forgotten your password?</p>
			<%= simple_form_for(resource, :as => resource_name, :url => password_path(resource_name), html: { class: 'form-horizontal'}) do |f| %>
	    <%= f.input :email, :autofocus => true, label: "Email Address" %>
			<br />
	    <fieldset>
	   		<%= f.button :submit, "Reset Password", class: "btn btn-danger" %>
			</fieldset>
		<% end %>

		<br />

		<%= render 'layouts/newfooter' %>
</div>
	</div>
</div>
