<% if user_signed_in? %>

<div class="title-header-1">
    <div class="container">
      <h3>Archived Webinar : Insert Title</h3>
    <hr>
    <p>Insert KOL Name, KOL Title, KOL Hospital, KOL City</p> <p>8<sup>th</sup> July 2015 at 12.30-13.15</p>
    <div class="blockquote-box clearfix col-md-8 col-md-offset-2" align="left" style="padding-bottom: 10px; margin-top:50px;">
    <!-- <h3>Archived Webinar : Insert Title</h3>
    <hr>
    <p>Insert KOL Name, KOL Title, KOL Hospital, KOL City</p> <p>8<sup>th</sup> July 2015 at 12.30-13.15</p>
    <br /> -->
    <!-- <img src="assets/archived-webcast.png" class="img-responsive"/> -->
    <style>.embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }</style><div class='embed-container'><iframe src='http://player.vimeo.com/video/100429807' frameborder='0' webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe></div>
    <br />
        <%= render 'layouts/newfooter' %>

  </div>
  </div>
</div>

</div>

<!-- <div class="container">
  <div class="blockquote-box clearfix col-md-8 col-md-offset-2" align="left" style="padding-bottom: 10px; margin-top:50px;"> -->
    <!-- <h3>Archived Webinar : Insert Title</h3>
    <hr>
    <p>Insert KOL Name, KOL Title, KOL Hospital, KOL City</p> <p>8<sup>th</sup> July 2015 at 12.30-13.15</p>
    <br /> -->
    <!-- <img src="assets/archived-webcast.png" class="img-responsive"/> -->
    <!-- <style>.embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }</style><div class='embed-container'><iframe src='http://player.vimeo.com/video/100429807' frameborder='0' webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe></div>
    <br />
        <%= render 'layouts/newfooter' %>

  </div>
</div> -->

<% else %>
  <%= render 'layouts/preregistration' %>
<% end %>