<% if user_signed_in? %>

<div class="title-header-1">

</div>

<div class="container">
	<div class="blockquote-box clearfix col-md-12" align="left" style="padding-bottom: 10px; margin-top:-75px;">
		
		<div>
		</div>

		<%= render 'layouts/newfooter' %>

	</div>
</div>

<% else %>
  <%= render 'layouts/preregistration' %>
<% end %>