<% if user_signed_in? %>

<div class="jumbotron">
  <%= render 'layouts/title' %>
</div>
    
<div class="container">
  <div class="blockquote-box clearfix col-md-12" style="padding-bottom: 10px;">
    <p>8th July 2015 12.30pm – 1.15pm</p>
    <br />
    <p>Join INSERT KOL and Description</p>
    <br/>
    <div class="square pull-left">
      <img src="#" height="150px" width="150px;" alt="" class="" />
    </div>
        <p>Insert Additional Details</p>
        <br />
        <div class="row">
          <div class="marketing" align="left" style="margin-top: 25px;">
          <%= link_to "Live Webcast", "#", class: "btn btn-primary" %>
          <%= link_to "Archived Webcast", archive_path, class: "btn btn-danger" %> 
          <br />
        </div>

        <br />
        <br />

      </div>
      </div>
    </div>
</div>
  

<% else %>
  <%= render 'layouts/preregistration' %>
<% end %>
