<div id="footer">
  <br />
		<small>Date of preparation: June 2015</small>
		<br />
		<small>Job code: UK/SPI-151314r</small>
		<br />
		<small>These webinars are organised and funded by Boehringer Ingelheim</small>
		<br/>
</div>